DQ.OD.DBProvider/Service References/ADService/ADService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CheckADUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDBConString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckADUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckADUserResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="strDBConString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>